//Variables
$darkGreen:#034c52;
$mediumGreen:#015c63;
$lightGreen:#017075;
$darkSalmo:#e6a69a;
$mediumSalmon:#ffbaab;
$lightSalmon:#ffc3b8;



//Estilos globales
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
  }