nav {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    background-color: $darkGreen;
}

nav div:first-child {
    display: flex;
    align-items: center;
    margin-left: 40px;
    background-color: $lightGreen;
    border-radius: 5px;
}

nav div:first-child h1{
    color: $mediumGray;
    padding: 10px 20px
}

nav div:first-child h1 span{
    color: $white;
}

nav div:last-child {
    display: flex;
    width: 15%;
    justify-content: space-between;
    align-items: center;
    margin-right: 40px;
}

nav div:last-child span {
    font-size: 35px;
}