.pageHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $lightGray;
    width: 100%;
    height: 45vw;
    max-height: 600px;
}

.pageHeader .img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 85%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 3px;
}